.image-responsive {
  width: 50em;
  height: 52.5em;
}

.imgcss {
  width: 8em;
}

.imgappphoto {
  width: 8em;
}

.nav {
  height: 52.5em;
  background-color: #222222;
}
.nav li {
  height: 6em;
}

.nav li:first-child {
  background-color: #DE3926;
}

li {
  list-style-type: none;
}

p {
  color: grey;
  font-family: arial;
  font-size: 1.2em;
}

#overflow {
  height: 52.5em;
  overflow: auto;
}

li {
  color: grey;
}

.btn-primary {
  background-color: black;
  font-size: 1.4em;
  font-weight: bold;
  font-family: arial;
  text-transform: uppercase;
}

.btn-default {
  font-size: 1.2em;
  font-weight: bold;
  font-family: arial;
  border: 3px solid black;
  text-transform: uppercase;
}

h1 {
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-weight: bold;
}

.all {
  display: inline-block;
  background-color:#F3F3F3;
  color: grey;
  font-weight: bold;
  font-size: 2em;
  padding: 0.2em;
}
.all:first-child {
  background-color: #DE3926;
  color: white;
}

iframe {
  width: 45em;
  height: 52.5em;
}